/* css */
.container-fluid{
  padding: 0;
}

.main-background {
  background-color: #afd3fc;
}

.sub-background{
  background-color: #ffc8c8;
}

.white-background{
    background-color: #ffffff;
}

.white-background-taskbar{
    background-color: #ffffff;
    padding: 1vw;
}

.main-title{
  background-color: #ffffff;
  border: .1vw solid black;
  font-family: 'Anton', sans-serif;
  font-size: 4vw;
  text-align: center;
  padding-top: 13vw;
  padding-bottom: 2vw;
  margin-bottom: 0;
}

.sub-title{
  background-color: #ffc8c8;
  padding: 2vw;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5vw;
  margin-bottom: 5%;
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 600px){
  .sub-title-phone{
    padding: 3vw;
    font-size: 2vw;
  }
}

.overview{
  padding-left: 7vw;
  padding-bottom: 2vw;
  padding-top: 2.5vw;
  margin-top: 3vw;
}

.overview-title{
  font-size: 2.85vw;
  text-align: center;
  font-family: 'Anton', sans-serif;
  background-color: #ffc8c8;
  padding: 2vw;
}

.overview-text{
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

@media screen and (max-width: 600px){
  .img-phone{
    height: 25vw;
    width: 35vw;
    margin-top: 2.5vw;
    position: relative;
    right: 5vw;
  }
}

img{
  height: 25vw;
  width: 35vw;
  margin-top: 1vw;
  position: relative;
  right: 5vw;
}

.test-data{
  background-color: #ffffff;
  font-family: 'Anton', sans-serif;
  font-size: 4vw;
  text-align: center;
  margin-top: 8vw;
  padding: 1.5vw;
}

.task-bar{
  padding:0;
  margin-top: 8vw;
}

.tasks-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  text-align: center;
}

.tasks-sub-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  text-align: left;
}

.standard-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2vw;
}

.time{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-right: 55%;
  padding: 1vw;
}

@media screen and (min-width: 500px){
  .time{
    margin-bottom: 4vw;
  }
}

@media screen and (min-width: 768px){
  .time{
    margin-right: 35%;
  }

  .standard-text{
    font-size: 2vw;
  }
}
