/* css */
.container{
  margin-top: 100px
}

.header{
  text-align: center;
}

.main-background{
  background-color: #afd3fc;
  padding-bottom: 200%;
}

.white-background-main{
  background-color: #ffffff;
  border: 1px solid black;
  padding-top: 20%;
  padding-bottom: 3%;
}

.pink-background-main{
  background-color: #ffc8c8;
  padding-top: 1%;
  padding-bottom: 1%;
}

.pink-background-overview{
  background-color: #ffc8c8;
}

.overview{
  margin-top: 1%;
  margin-left: 10%;
}
